body{
    background-color:#262626;
    color:black;
    background-image:url("samolot2.PNG");
    background-repeat:repeat-x;
    background-size:400px 400px;
    
    
    
    }
    
    
    .pojemnik{
    
    
        display: flex;
    }
    .pojemnik2{
    
        display: flex;
    }
    .napisy{
        
        margin-top:150px;
        
        background: rgb(0,23,36);
background: linear-gradient(90deg, rgba(0,23,36,1) 0%, rgba(167,163,163,1) 0%, rgba(0,25,36,1) 0%, rgba(43,43,43,1) 0%, rgba(123,115,115,1) 23%, rgba(130,122,122,1) 44%, rgba(148,148,148,1) 58%, rgba(38,37,37,1) 98%);
        height:3em;;
        width:100%;
        padding-top:15px;
        padding-left:20px;
    color:white;
    font-size:35px;
    text-align:auto;
    font-family:Courier New, monospace;
    
    }
    .srodek{
       margin-top: 2em;
       margin-left:3em;
    }
    
    .napisy1{
        font-size:12.7px;
        font-family:Courier New, monospace;
        color:white;
        margin-top:32px;
        margin-left: 40px;
        background-color:#737373;
        height:250px;
        width:600px;
        
    }
    .srodek1{
        font-family:Courier New, monospace;
        margin-left:3em;
        margin-top: 2em;
       
        
    }
    .napisy2{
        font-size:12.7px;
        font-family:Courier New, monospace;
    color:white;
        margin-top:32px;
        margin-left: 40px;
        background-color:#737373;
        height:250px;
        width:600px;
    
    }
    .podglowek{
        font-family:Courier New, monospace;
    color:#8c8c8c;
    background-color:#b3b3b3 ;
    height:6em;;
        width:100%;
        padding-top:15px;
        padding-left:20px;
    }
    
    .napisyv1{
        
        margin-top:83px;
        margin-left:500px;
        float:right;
    transform:rotate(90deg);
    width: 200px; 
    height: 100px;
    background-color:#b3b3b3 ;
    font-family:Courier New, monospace;
    font-size:35px;
    color:white;
    text-align:center;
    
    
    }
    .napisyv2{
    
        margin-top:83px;
        margin-left:500px;
        float:right;
    transform:rotate(90deg);
    width: 200px; 
    height: 100px;
    background-color:#b3b3b3 ;
    font-family:Courier New, monospace;
    font-size:35px;
    color:black;
    text-align:center;
    
    }
    .pos{
        font-size: 80px;
      max-width: 600px;
      margin: 0 auto;
      margin-left:100px;
     
     padding-top:10px;
      font-weight: bold;
      font-family:Courier New, monospace;
      background: linear-gradient(90deg, rgba(0,23,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,25,36,1) 0%, rgba(43,43,43,1) 0%, rgba(123,115,115,1) 32%, rgba(130,122,122,1) 35%, rgba(148,148,148,1) 58%, rgba(38,37,37,1) 93%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    a:link{
        color:white;
    }
    a:visited{
        color:white;
    }
    a:hover{
        color:white;
    }
    a:active{
        color:white;
    }
    
    